{% extends "::base.html.twig" %}



{% block body %}
    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Company
                        <strong>blog</strong>
                    </h2>
                    <hr>
                </div>

                {% for blog in blogs %}
                    <div class="col-lg-12 text-center">
                        <img class="img-responsive img-border img-full" src="{{ asset(['img/', blog.image]|join) }}" alt="">
                        <h2>{{ blog.title }}
                            <br>
                            <small>{{ blog.created|date('l, F j, Y') }}</small>
                        </h2>
                        <p>{{ blog.blog(500) }}</p>

                        <a href="{{ path('article',{'id': blog.id}) }}" class="btn btn-default btn-lg">Read More</a>
                        <hr>
                    </div>
                {% else %}
                    <p>There are no blog entries for symblog</p>
                {% endfor %}



                <div class="col-lg-12 text-center">
                    <ul class="pager">
                        <li class="previous"><a href="#">&larr; Older</a>
                        </li>
                        <li class="next"><a href="#">Newer &rarr;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
